

  

.left-menu-list {
    width: 200px;
    height: 100vh;

    
    background-color: #ffffff;
   
}
.submenu {
    padding-left: 30px;
    font-size: 0.8em; /* alt menülerin font boyutunu küçültür */
}
.list-group-item {
    color: #ffc107;
}
